<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yannuo.dgcanteen">

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_noodles"
        android:label="@string/dg_canteen"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.CommodityPay">
        <activity
            android:name=".activitys.BalanceActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.DishManageActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.CommodityActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.CalculateActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.OrderMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.InitActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.HostActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <receiver
            android:name=".common.MyBroadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyMqttService"
            android:stopWithTask="true" />
        <service
            android:name="org.eclipse.paho.android.service.MqttService"
            android:stopWithTask="true" />
        <service
            android:name=".service.UpdateServer"
            android:stopWithTask="true" />
        <service
            android:name=".service.KeepAliveJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.CameraService"
            android:stopWithTask="true"></service>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

</manifest>